#poststuff .dx-box .inside {
	margin: 0;
	padding: 0;
}

.dx-box .dx-field {
	padding: 10px;
}

.dx-box .dx-field.dx_event_location-field .field-holder {
	height: 500px;
}

.dx-box .dx-field.dx_event_location-field .field-holder #map {
	height: 100%;
}

.dx-box .dx-field.dx_event_location-field #dx_event_location {
	width: 80%;
}

.dx_event_location_lat-field,
.dx_event_location_lng-field {
	display: none;
}

.dx-box .dx-field + .dx-field {
	border-top: 1px solid #d9d9d9;
}

.dx-box .dx-field label {
	display: block;
	font-weight: 600;
	padding: 2px 2px 6px 2px;
	color: #000;
}

.dx-box .dx-field input[type="text"] {
	display: block;
	padding: 4px 5px 3px;
	width: 100%;
	resize: vertical;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	-webkit-transition: 50ms border-color ease-in-out;
	transition: 50ms border-color ease-in-out;
}